.img_logo {
    width: 50px;
    border-radius: 50%;
}

.img_default {
    width: 240px;
    border-radius: 5%;
}

.layout-position {
    margin: 0 20%;
    padding: 3% 3%;
}

.layout-1 {
    background-color: #eff5f5;
}

.layout-2 {
    background-color: #252b48;
    color: #eff5f5;
}

.w-50-costume {
    width: 80%;
}

.body-costum {
    background-color: #252b48;
    /* margin-top: 60px; */
}
.dark-text {
    color: #252b48;
}
.light-text {
    color: #eff5f5;
}
.img-card-costume {
    width: 60px;
}
.card-costume {
    background-color: #eff5f5;
    color: #252b48;
    padding: 0;
    margin: 0;
}
.border-testing {
    border: solid 1px #252b48;
}
@media (max-width: 768px) {
}
