.navbar-bg-costum {
    background-color: #252b48;
    color: #eff5f5;
    z-index: 1030;
}
.active_bar {
    background-color: #eff5f5;
    color: #252b48;
    border-radius: 8px;
}

.nav_costum_style {
    color: #eff5f5 !important;
}

.border-animation-1 {
    border: solid 3px;
    animation: colorAnimation 5s infinite;
}

@keyframes colorAnimation {
    0% {
        border-color: #252b48;
    }
    30% {
        border-color: #ffde59;
    }
    50% {
        border-color: #252b48;
    }
    70% {
        border-color: #ffde59;
    }
    100% {
        border-color: #252b48; /* Sama dengan 0% */
    }
}
